.bestsellers{
    padding-bottom: 140px;
    background-color: #E5E5E5;
}
.bestsellers-title{
    font-weight: 500;
        font-size: 30px;
        line-height: calc(53 / 45);
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: capitalize;
        margin-bottom: 40px;
        @media screen and (min-width: 768px) {
                font-size: 45px;
            }
}
.bestsellers-wrap {
    display: flex;
    align-items: center;
}
.bestseller-show-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 88px;
    height: 32px;
    background-color: black;

    font-weight: 400;
        font-size: 16px;
        line-height: calc(22 / 16);
        color: aliceblue;
}
.bestsellers-slider{
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 24px;
}
.bestseller-slide {
    position: relative;
}



