.explore-title{
    font-weight: 500;
        font-size: 45px;
        line-height: 0.85;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: capitalize;
        margin-bottom: 102px;
}
.explore{
    padding-bottom: 140px;
    background-color: #E5E5E5;
}
.gallery{
    display: flex;
}
.gallery-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-between;
    grid-column-gap: 24px;
    & img {
        min-width: 312px;
        height: 312px;
    }
    
}
.gallery-img--first{
    margin-right: 24px;
    width: 648px;
    height: 648px;
}