.explore-title{
    font-weight: 500;
        font-size: 30px;
        line-height: 0.85;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: capitalize;
        margin-bottom: 102px;
        @media screen and (min-width: 768px) {
                font-size: 45px;
            }
}
.explore{
    padding-bottom: 140px;
    background-color: #E5E5E5;
    padding-top: 140px;
}
.gallery{
    @media screen and (min-width: 1320px) {
                display: flex;
        }
}
.gallery-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-between;
    grid-column-gap: 24px;
    & img {
        
        @media screen and (min-width: 1320px) {
                min-width: 312px;
                    height: 312px;
            }
    }
    
}
.gallery-img--first{
    width: 100%;
    margin-bottom: 24px;
    @media screen and (min-width: 1320px) {
            width: 648px;
            height: 648px;
            margin-right: 24px;
            margin-bottom: 0;
        }
}
.gallery-img{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}