.footer{
    background-color: #ffffff;
    padding-bottom: 50px;
    padding-top: 80px;
    & .container{
        display: flex;
    }
        @media screen and (min-width: 768px) {
                padding-bottom: 90px;
                padding-top: 110px;
        }
}
.footer-logo{
    margin-bottom: 30px;
}
.footer-text {
    font-weight: 400;
    font-size: 15px;
    line-height: calc(20 / 15);
    width: 100%;
    text-transform: capitalize;
    color: #292929;
    margin-bottom: 39px;
    @media screen and (min-width: 768px) {
            width: 367px;
        }
}
.footer-soc-list{
    display: flex;

}
.footer-soc-item:not(:last-child){
    margin-right: 36px;
}
.footer-link{
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        text-transform: capitalize;
        color: #292929;
}
.footer-list-title{
    & span{
        font-weight: 500;
        font-size: 16px;
        line-height: calc(19 / 16);
        color: #000000;
    }
    &:not(:last-child){
        margin-bottom: 12px;
    }
}
.footer-catalog-list{
    margin-right: 260px;
}
.footer-about-list{
    margin-right: 208px;
}