.header {
    padding-top: 10px;
    background-color: #fff;
    padding-bottom: 20px;
    position: sticky;
        top: 0;
        z-index: 123;
    @media screen and (min-width: 768px) {
        position: unset;
            padding-bottom: 81px;
            padding-top: 30px;
            padding-bottom: 40px;
        }
}
.header-top-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-bottom: px;
}
.header-link--mob{
    display: unset;
    @media screen and (min-width: 768px) {
            display: none;
        }
}
.header-list{
    display: none;
    justify-content: space-between;
    padding-top: 30px;
    @media screen and (min-width: 768px) {
            display: flex;
        }
}
.header-link{
    font-weight: 400;
    border-bottom: 0px solid black;
    // font-size: 18px;
    line-height: 1.5;
    font-size: 12px;
    color: var(--black-color);
    &:hover {
        border-bottom: 2px solid black;
    }
        @media screen and (min-width: 1320px) {
            font-size: 14px;
        }
}
.header-link--current{
    border-bottom: 1px solid black;
    @media screen and (min-width: 768px) {
                border-bottom: 2px solid black;
        }
}
// .header-cart{
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.71;
//     color: var(--black-color);
//     display: flex;
//     align-items: center;
//     &::before{
//         content: url('../img/cart-black.svg');
//         // width: 24px;
//         // height: 24px;
//         margin-right: 8px;
//     }
// }
.logo{
    width: 100px;
    height: 25px;
    @media screen and (min-width: 768px) {
        width: 130px;
            height: 40px;
    }
}
.smart-basket__min{
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E2832;
        width: 60px;
        height: 40px;
}
.header-cart{
    border: none;
    // background-color: #1E2832;
    // width: 60px;
    // height: 40px;
    // cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.smart-basket__min-count{
    color: white;
    margin-left: 5px;
}