.hero{
    padding-bottom: 60px;
    background-color: #ffffff;
}
.hero .container{
    display: block;
    @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
}

.hero-title {
    font-weight: 300;
    font-size: 54px;
    line-height: 0.74;
    margin-top: 74px;
    margin-bottom: 52px;
    @media screen and (min-width: 768px) {
            font-size: 64px;
        }
    
        @media screen and (min-width: 1320px) {
            font-size: 74px;
        }
}
.hero-img {
    display: none;
    @media screen and (min-width: 768px) {
            display: block;
        }
}
.hero-text{
    font-size: 20px;
    line-height: 1.83;
    margin-bottom: 66px;
    @media screen and (min-width: 768px) {
            font-size: 24px;
        }
    
        @media screen and (min-width: 1320px) {
            font-size: 30px;
        }
}
.hero-btn{
    display: block;
    width: 223px;
    height: 72px;
    padding-top: 9px;
    padding-bottom: 8px;
    
    background-color: #1E2832;

    font-weight: 400;
    font-size: 29px;
    line-height: 1.9;
    text-align: center;
    color: var(--white-color);
    
    
}
