:root {
  --white-color: #ffffff;
  --black-color: #000000;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--white-color);
  color: var(--black-color);
  font-size: 14px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-skroll {
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1320px) {
  .container {
    width: 1320px;
  }
}

.header {
  padding-top: 10px;
  background-color: #fff;
  padding-bottom: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 123;
}
@media screen and (min-width: 768px) {
  .header {
    position: unset;
    padding-bottom: 81px;
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

.header-top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link--mob {
  display: unset;
}
@media screen and (min-width: 768px) {
  .header-link--mob {
    display: none;
  }
}

.header-list {
  display: none;
  justify-content: space-between;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
  }
}

.header-link {
  font-weight: 400;
  border-bottom: 0px solid black;
  line-height: 1.5;
  font-size: 12px;
  color: var(--black-color);
}
.header-link:hover {
  border-bottom: 2px solid black;
}
@media screen and (min-width: 1320px) {
  .header-link {
    font-size: 14px;
  }
}

.header-link--current {
  border-bottom: 1px solid black;
}
@media screen and (min-width: 768px) {
  .header-link--current {
    border-bottom: 2px solid black;
  }
}

.logo {
  width: 100px;
  height: 25px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 130px;
    height: 40px;
  }
}

.smart-basket__min {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E2832;
  width: 60px;
  height: 40px;
}

.header-cart {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smart-basket__min-count {
  color: white;
  margin-left: 5px;
}

.hero {
  padding-bottom: 60px;
  background-color: #ffffff;
}

.hero .container {
  display: block;
}
@media screen and (min-width: 768px) {
  .hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.hero-title {
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 33px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 64px;
    margin-top: 74px;
  }
}
@media screen and (min-width: 1320px) {
  .hero-title {
    font-size: 74px;
    line-height: 0.74;
  }
}

.hero-img {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-img {
    display: block;
    width: 300px;
    height: 350px;
  }
}
@media screen and (min-width: 1320px) {
  .hero-img {
    display: block;
    width: unset;
    height: unset;
  }
}

.hero-text {
  font-size: 16px;
  line-height: 1.83;
  margin-bottom: 33px;
}
@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 24px;
    margin-bottom: 66px;
  }
}
@media screen and (min-width: 1320px) {
  .hero-text {
    font-size: 30px;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 8px;
  width: 150px;
  background-color: #1E2832;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  text-align: center;
  color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .hero-btn {
    width: 223px;
    height: 72px;
    font-size: 25px;
  }
}

.explore-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .explore-title {
    font-size: 45px;
    margin-bottom: 102px;
  }
}

.explore {
  padding-bottom: 80px;
  background-color: #E5E5E5;
  padding-top: 35px;
}
@media screen and (min-width: 768px) {
  .explore {
    padding-top: 50px;
    padding-bottom: 140px;
  }
}

@media screen and (min-width: 1320px) {
  .gallery {
    display: flex;
  }
}

.gallery-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-between;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
@media screen and (min-width: 1320px) {
  .gallery-wrap img {
    min-width: 312px;
    height: 312px;
  }
}

.gallery-img--first {
  width: 100%;
  margin-bottom: 24px;
}
@media screen and (min-width: 1320px) {
  .gallery-img--first {
    width: 648px;
    height: 648px;
    margin-right: 24px;
    margin-bottom: 0;
  }
}

.gallery-img {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-img:hover, .gallery-img:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.staff {
  background-color: #E5E5E5;
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .staff {
    padding-bottom: 138px;
  }
}

.staff-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 0.85;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .staff-title {
    font-size: 45px;
  }
}

.filter-list {
  margin-left: 0;
  margin-bottom: 35px;
  display: flex;
}

.filter-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 0.73;
  text-transform: capitalize;
  color: #777777;
  transition: color 250ms linear;
}
.filter-link:hover {
  color: black;
}
@media screen and (min-width: 768px) {
  .filter-link {
    font-size: 16px;
  }
}

.filter-link--current {
  color: var(--black-color);
}

.filter-item:not(:last-child) {
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .filter-item:not(:last-child) {
    margin-right: 40px;
  }
}

.staff-list {
  display: grid;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
}
.staff-list li {
  position: relative;
}
@media screen and (min-width: 768px) {
  .staff-list {
    grid-column-gap: 24px;
    grid-row-gap: 34px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1320px) {
  .staff-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.staff-btn {
  width: 100%;
  height: 36px;
  border: none;
  color: aliceblue;
  background-color: #1E2832;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .staff-btn {
    height: 56px;
    font-size: 18px;
  }
}

.staff-btn-text {
  display: flex;
  align-items: center;
}
.staff-btn-text::before {
  content: url("/img/cart-white.svg");
  margin-right: 8px;
}

.staff-item-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.375;
  text-transform: capitalize;
  margin-bottom: 15px;
  color: black;
}
@media screen and (min-width: 768px) {
  .staff-item-title {
    font-size: 16px;
  }
}

.staff-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  flex-grow: 1;
}
@media screen and (min-width: 480px) {
  .staff-img {
    height: 279px;
  }
}
@media screen and (min-width: 768px) {
  .staff-img {
    height: 404px;
  }
}

.staff-img-link {
  height: 279px;
}
@media screen and (min-width: 480px) {
  .staff-img-link {
    height: 279px;
  }
}

.staff-link {
  display: block;
  margin-top: 18px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.staff-sale {
  position: absolute;
  top: 26px;
  left: 0;
  width: 52px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3333333333;
  text-transform: uppercase;
  color: aliceblue;
}

.staff-item {
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.staff-item:hover, .staff-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.staff-hot {
  position: absolute;
  top: 26px;
  left: 0;
  width: 52px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF6F61;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3333333333;
  text-transform: uppercase;
  color: aliceblue;
}

.staff-item-bottom-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.375;
  text-transform: capitalize;
  color: #777777;
}
@media screen and (min-width: 768px) {
  .staff-item-bottom-text {
    font-size: 16px;
  }
}

.staff-ordinary-price {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.375;
  text-transform: capitalize;
  color: #000000;
  margin-right: 0;
  display: block;
}
@media screen and (min-width: 768px) {
  .staff-ordinary-price {
    font-size: 16px;
  }
}

.old-price {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3571428571;
  text-align: right;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  text-transform: capitalize;
  color: #777777;
  margin-left: 125px;
}

.sale-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  text-align: right;
  text-transform: capitalize;
  color: #FF6F61;
  margin-left: 12px;
}

.staff-hoodie {
  padding-top: 33px;
}
@media screen and (min-width: 768px) {
  .staff-hoodie {
    padding-top: 80px;
  }
}

.staff-size-list {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.staff-size-item {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  transition: all 250ms linear;
  outline: 1px solid grey;
}
.staff-size-item:hover {
  background-color: black;
  color: #E5E5E5;
}
@media screen and (min-width: 768px) {
  .staff-size-item {
    height: 40px;
    width: 61px;
  }
}

.staff-size-item--active {
  background-color: black;
  color: #E5E5E5;
}

.staff-foto {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #000000;
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .staff-foto {
    font-size: 20px;
  }
}

.bestsellers {
  padding-bottom: 80px;
  background-color: #E5E5E5;
}
@media screen and (min-width: 768px) {
  .bestsellers {
    padding-bottom: 138px;
  }
}

.bestsellers-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.1777777778;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .bestsellers-title {
    font-size: 45px;
    font-size: 30px;
  }
}

.bestsellers-wrap {
  display: flex;
  align-items: center;
}

.bestseller-show-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 88px;
  height: 32px;
  background-color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: aliceblue;
}

.bestsellers-slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 24px;
}

.bestseller-slide {
  position: relative;
}

.instagram {
  background-color: #F1F1F1;
  padding-top: 50px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .instagram {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.insta-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1777777778;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .insta-title {
    font-size: 45px;
    font-size: 30px;
  }
}

.insta-list {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 34px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 70px;
}
@media screen and (min-width: 768px) {
  .insta-list {
    display: flex;
    justify-content: space-between;
  }
}

.insta-wrap {
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.insta-wrap:hover, .insta-wrap:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(65, 61, 61, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.insta-wrap:hover .insta-img-block {
  opacity: 0.5;
}

.insta-img-block {
  background-image: url("/img/insta-cover.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  z-index: 3;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}
@media screen and (min-width: 1320px) {
  .insta-img-block {
    display: unset;
  }
}

.footer {
  background-color: #ffffff;
  padding-bottom: 50px;
  padding-top: 80px;
}
.footer .container {
  display: flex;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 90px;
    padding-top: 110px;
  }
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.3333333333;
  width: 100%;
  text-transform: capitalize;
  color: #292929;
  margin-bottom: 39px;
}
@media screen and (min-width: 768px) {
  .footer-text {
    width: 367px;
  }
}

.footer-soc-list {
  display: flex;
}

.footer-soc-item:not(:last-child) {
  margin-right: 36px;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-transform: capitalize;
  color: #292929;
}

.footer-list-title span {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: #000000;
}
.footer-list-title:not(:last-child) {
  margin-bottom: 12px;
}

.footer-catalog-list {
  margin-right: 260px;
}

.footer-about-list {
  margin-right: 208px;
}

.aside {
  position: -webkit-sticky;
  position: sticky;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #1E2832;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
}
.aside .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside-to-top {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
}

.aside-to-top::after {
  content: url("/img/arrow_top.svg");
  display: flex;
  align-items: center;
}

.mob-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: white;
  top: 0;
  z-index: 1;
  margin: 0 auto;
}
.mob-menu .container {
  padding-top: 48px;
  padding-bottom: 48px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: scroll;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.menu-open-btn {
  border: none;
  background-color: transparent;
  fill: #212121;
  margin-left: 0;
  cursor: pointer;
}
.menu-open-btn:hover, .menu-open-btn:focus {
  fill: var(--hover-color);
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-close-btn {
  position: absolute;
  right: 25px;
  top: 21px;
  border: none;
  background-color: transparent;
  fill: var(--default-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close-btn:hover, .menu-close-btn:focus {
  fill: var(--hover-color);
}

.mob-menu-list {
  margin-top: 8px;
  margin-bottom: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--default-color);
  border-bottom: 1px solid black;
}
.mob-menu-link:hover, .mob-menu-link:focus {
  color: var(--hover-color);
}

.mob-studio {
  color: var(--hover-color);
}

.mob-port {
  color: #2196f3;
}

.mob-menu-wrap {
  margin-top: auto;
}

.mob-contacts-list {
  margin-bottom: 32px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 35px;
}

.mob-contacts-item:first-child {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.mob-contacts-tel {
  color: var(--hover-color);
}

.mob-contacts-item:last-child {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.mob-contacts-email {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-contacts-email:hover, .mob-contacts-email:focus {
  color: #2196f3;
}

.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-soc-list {
  display: flex;
  flex-wrap: wrap;
}

.mob-soc-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc-item:not(:last-child) {
  padding-right: 10px;
}

.mob-soc-item:not(:first-child) {
  padding-left: 10px;
}

.why {
  padding-top: 80px;
  padding-bottom: 10px;
  background-color: #E5E5E5;
}
@media screen and (min-width: 768px) {
  .why {
    padding-top: 138px;
    padding-bottom: 56px;
  }
}

.why-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 0.85;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .why-title {
    font-size: 45px;
  }
}

.why-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .why-text {
    font-size: 25px;
  }
}/*# sourceMappingURL=main.css.map */